.addition {
  padding: 20px 0 0;
}

.addition__header {
  padding-bottom: 29px;
  border-bottom: 1px solid #cdcdcd;
}

.addition__list {
  padding: 0 20px;
  margin: 0;
  list-style: none;
}

.addition__item {
  padding-top: 13px;
  border-bottom: 1px solid #cdcdcd;
}

.addition__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.addition__goods {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.addition__name {
  font-family: @lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #444444;
}

.addition__prise {
  font-family: @lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.addition__button {
  margin-bottom: 18px;
}