.example {
  background-color: #eaeaea;
  padding: 25px 20px 40px;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    padding: 46px 0 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
    background: #f2f2f2;
  }
}

.example__wrapper {
  @media (min-width: @desktop-width) {
    width: 1220px;
    background-color: #f2f2f2;
    margin: 0 auto;
  }
}

.example__title {
  .mixin();
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 40px;


  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 59px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 22px 0 76px;
    margin: 0;
    background: #ffffff;
  }
}

.example__title-wrapper {
  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
    display: block;
  }
}

.example__wrap {
  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
    position: relative;
    padding: 68px 0 70px;
    width: 1220px;
    margin: 0 auto;
  }
}

.example__search {
  .mixin();
  font-family: @lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 56px;
    padding: 0 19px 0 30px;

  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 433px;
    margin-bottom: 70px;
  }
}

.example__cost {
  .mixin();
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  margin: 0 auto 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 180px;
    text-align: right;
    padding-top: 5px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 550px;
    text-align: left;
    padding-top: 50px;
  }
}

.example__container {

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 100px;
    position: relative;

    &::after {
      content: "";
      background-color: #eaeaea;
      width: 100%;
      height: 361px;
      position: absolute;
      top: 326px;
      left: 0;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    display: block;
    width: 550px;

    &::after {
      content: none;
    }
  }
}

.example__slider-container {
  @media (min-width: @tablet-width) {
    background-color: #eaeaea;
    padding-bottom: 101px;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 151px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ffffff;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
    position: absolute;
    content: "";
    top: -135px;
    right: 112px;
  }
}

.example__slider {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    .mixin();
    width: 100%;
    min-height: 463px;
    background-color: #eaeaea;

    @media (min-width: @desktop-width) {
      width: 0;
      height: 0;
      min-height: 0;
    }
  }
}