.example {
  background-color: #eaeaea;
  padding: 25px 20px 20px;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    padding: 46px 0 0;
  }

  @media (min-width: @desktop-width) {
    padding: 23px 0px 20px;
    margin: 0 auto 110px;
    width: 1220px;
  }

}

.example__title {
  .mixin();
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 59px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 ;
    margin-bottom: 146px;
    width: 1200px;
  }
}

.example__search {
  .mixin();
  font-family: @lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 56px;
    padding: 0 30px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 433px;
    margin-bottom: 70px;
  }
}

.example__cost {
  .mixin();
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  margin: 0 auto 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 180px;
    text-align: right;
    padding-top: 12px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 550px;
    text-align: left;
    padding-top: 53px;
  }
}

.example__container {

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 705px;
    padding: 0 30px 251px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    display: block;
    width: 550px;
    
  }
}