.footer__copyright {
  padding: 20px 20px 47px;

  @media (min-width: @tablet-width) {
    .mixin();
  }
}

.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  
  @media (min-width: @tablet-width) {
    width: 162px;
  }
}
.copyright__text {
  font-family: @lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  padding-top: 7px;

  @media (min-width: @tablet-width) {
    .mixin();
    padding-top: 7px;
  }
}

.copyright__link {
  display: block;
  color: #444444;
  text-decoration: none;
  width: 27px;
  height: 34px;
}