.footer {
    background-color: #f2f2f2;
}

.footer__wrapper {
    @media (min-width: @tablet-width) {

        display: flex;
        flex-wrap: wrap;
        width: 708px;
        justify-content: space-between;
        padding: 51px 30px;
    }

    @media (min-width: @desktop-width) {
        width: 1218px;
        padding: 62px 110px;
    }

}

.footer__container {
    @media (min-width: @desktop-width) {
        position: relative;

    }
}