.nav{
min-width: 320px;
}

.nav__toggle {

}

.nav__list {
    margin: 0;
    padding-left: 170px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.nav__item {
    
}

.nav__link {
    color: #000000;
    text-transform: uppercase;
    font-family: "Oswald Regular";
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
}