.nav {
  position: relative;
  z-index: 3;

  @media (min-width: @tablet-width) {
    margin: 16px 34px 0 0;
  }

  @media (min-width: @desktop-width) {
    .mixin();
  }
}

.nav__toggle {
  position: absolute;
  right: 22px;
  top: -45px;
  width: 24px;
  height: 24px;
  display: block;
  background-image: url("../img/mobile-menu.svg");
  cursor: pointer;
  border: none;
}

.nav__toggle:hover {
  opacity: 0.6;
}

.nav__toggle:focus {
  outline: none;
  opacity: 0.6;
}

.nav__toggle:active {
  opacity: 0.3;
}

.nav--closed .nav__toggle {
  display: block;
}

.nav--opened .nav__toggle {
  display: block;
  background: url("../img/mobile-menu.svg");
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #e6e6e6;

  @media (min-width: @tablet-width) {
    width: 440px;
    display: flex;
    justify-content: right;
    column-gap: 34px;
    flex-wrap: wrap;
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 480px;
    padding-top: 70px;
  }
}

.nav--closed .nav__list {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.nav--opened .nav__list {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.nav__item {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: @tablet-width) {
    border-bottom: none;
  }
}

.nav__link:hover {
  opacity: 0.6;
}

.nav__link:active {
  opacity: 1;
}

.nav__link:focus {
  outline: none;
  opacity: 0.6;
}

.nav__link:disabled {
  opacity: 0.3;
}

.nav__item--active {
  @media (min-width: @tablet-width) {
    position: relative;

    &::before {
      content: "";
      border-bottom: 2px solid #68b738;
      position: absolute;
      bottom: 13px;
      left: 0;
      width: 100%;
    }

    @media (min-width: @desktop-width) {
      &::before {
        border-bottom: 2px solid #ffffff;
        bottom: -9px;
      }
    }
  }
}

.nav__link {
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  display: block;
  padding: 23px 10px 22px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding: 23px 0 22px;
  }

  @media (min-width: @desktop-width) {
    color: #ffffff;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
}

.nav__link--form {
  color: #000000;
}

.nav__item--active-form {
  @media (min-width: @desktop-width) {
    &::before {
      border-bottom: 2px solid #68b738;
      bottom: -9px;
    }
  }
}

.nav__item--active-catalog {
  @media (min-width: @desktop-width) {
    &::before {
      border-bottom: 2px solid #68b738;
      bottom: -9px;
    }
  }
}
