.partner {
  margin: 26px 20px;
  display: flex;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    background: #ffffff;
    padding: 61px 70px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    z-index: 6;
    position: sticky;
    width: 408px;
    margin-left: 109px;
    padding: 61px 80px 61px 80px;
  }
}

.partner__title {
  width: 136px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }

}

.partner__adress {
  margin: 0;
  width: 140px;
  font-family: @lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;


  @media (min-width: @tablet-width) {
    width: 157px;
    font-size: 16px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}