.program {
  padding: 0 20px;
}

.program__list {
  .mixin();
  list-style: none;
}

.program__item {
  .mixin();
  background-color: #f2f2f2;
  margin: 20px 0;
}

.program__title {
  .mixin();
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 28px;
  padding-left: 90px;
  background-repeat: no-repeat;
}

.program__title--slimming {
  background-image: url("../../img/cat-back.svg");
  background-position-y: 21px;
  background-position-x: 20px;
}

.program__title--gain {
  background-image: url("../../img/cat-back2.svg");
  background-position-y: 24px;
  background-position-x: 12px;
}

.program__desc {
  .mixin();
  font-family: @lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  position: relative;
  padding: 0 0 23px;
  margin: 0 20px;
  border-bottom: 1px solid #d9d9d9
}

.program__search {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 119px;
  padding: 19px 50px 22px 20px;
  display: block;
  position: relative;

//   &::before {
//     content: "";
//     background-image: url("../img/arrow.svg");
//     background-repeat: no-repeat;
//     position: absolute;
//     top: 0;
//     left: 10px;
//   }
 }