.social {
    margin: 0 20px;
    border-bottom: 1px solid #d9d9d9;
}

.social__list {
    .mixin();
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 25px;
    padding: 22px 75px 18px;
    max-width: 400px;
}

.social__item {}

.social__link {
    display: block;
    width: 28px;
    height: 22px;
}

