.social {
    border-bottom: 1px solid #d9d9d9;
}

.social__list {
    .mixin();
    list-style: none;
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    padding: 22px 96px 18px;
}

.social__item {}

.social__link {
    display: block;
    width: 28px;
    height: 22px;
}

