.welcome {
  font-weight: 400;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    color: #000000;
    position: relative;
    padding-bottom: 609px;

    &::before {
      content: "";
      width: 709px;
      height: 609px;
      position: absolute;
      background-image: image-set(url("../img/main-img-tablet.webp"), url("../img/main-img-tablet.png"));
      background-repeat: no-repeat;
      top: 256px;
      left: 30px;

      @media (min-resolution: 2dppx) {
        background-image: image-set(url("../img/main-img-tablet@2x.webp"), url("../img/main-img-tablet@2x.png"));
        background-size: 709px 609px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 320px;
    position: relative;

    &::before {
      background: url("../img/welcome-background-desktop.svg") repeat 0 0;
      left: 50%;
      width: 50%;
      min-height: 695px;
      position: absolute;
      top: -101px;
      left: 50%;
      z-index: 5;
    }

    &::after {
      content: "";
      position: absolute;
      width: 50%;
      height: 694px;
      // background: #504f55 url("../img/welcome-cat-desktop.jpg") no-repeat top 0 right 0;
      background-color: #504f55;
      background-image: image-set(url("../img/welcome-cat-desktop.webp"), url("../img/welcome-cat-desktop.png"));
      background-repeat: no-repeat;
      top: -101px;
      left: 50%;
      right: 0;
      z-index: 4;

      @media (min-resolution: 2dppx) {
        background-image: image-set(url("../img/welcome-cat-desktop@2x.webp"), url("../img/welcome-cat-desktop@2x.png"));
      }
    }

  }
}

.welcome__wrap {}

.welcome__wrapper {
  padding-bottom: 135px;
  position: relative;

  &::before {
    content: "";
    width: 280px;
    height: 270px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: image-set(url("../img/main-img.webp"), url("../img/main-img.png"));
    background-repeat: no-repeat;
    z-index: 10;

    @media (min-resolution: 2dppx) {
      background-image: image-set(url("../img/main-img@2x.webp"), url("../img/main-img@2x.png"));
      background-size: 280px 270px;
    }
  }


  @media (min-width: @tablet-width) {
    padding: 0;

    &::before {
      background: none;
    }
  }

  @media (min-width: @desktop-width) {
    .mixin();
    position: relative;
    width: 1220px;
    margin: 0 auto;

    &::before {
      content: "";
      width: 552px;
      height: 499px;
      position: absolute;
      background-image: image-set(url("../img/main-img-desktop.webp"), url("../img/main-img-desktop.png"));
      background-repeat: no-repeat;
      top: 42px;
      left: calc(50% + 112px);
      z-index: 11;

      @media (min-resolution: 2dppx) {
        background-image: image-set(url("../img/main-img-desktop@2x.webp"), url("../img/main-img-desktop@2x.png"));
      }
    }
  }
}

.welcome__container {
  background-image: #504f55 image-set(url("../img/welcome-cat.jpg"), url("../../img/welcome-cat.webp")) no-repeat top center;
  background-size: auto 100%;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: image-set(url("../img/welcome-cat@2x.jpg"), url("../../img/welcome-cat@2x.webp"));
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: url("../img/welcome-background.svg") repeat 0 0;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (min-width: @tablet-width) {
    background: none;
    background-color: #ffffff;
    padding: 28px 99px 0;

    &::before {
      background: none;
    }
  }

  @media (min-width: @desktop-width) {
    .mixin();
    width: 100%;

    &::before {
      background: none;
    }
  }
}

.welcome__title {
  .mixin();
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  padding: 27px 30px 0;
  position: relative;
  z-index: 5;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 16px;
    padding: 27px 19px 0;
    width: 450px;
  }

  @media (min-width: @desktop-width) {
    .mixin();
    padding: 125px 80px 40px;
  }
}

.welcome__slogan {
  .mixin();
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  padding: 25px 20px 164px;
  position: relative;
  z-index: 5;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding: 25px 20px 20px;
  }

  @media (min-width: @desktop-width) {
    .mixin();
    padding: 0 80px 51px;
    width: 450px;
  }
}

.welcome__selection {
  @media (min-width: @desktop-width) {
    width: 1060px;
    margin: 0 auto;
  }
}

.welcome__program-selection {
  display: block;
  text-decoration: none;
  background-color: #68b738;
  color: #ffffff;
  width: auto;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 3px 20px 0;
  padding: 10px 10px;

  @media (min-width: @tablet-width) {
    width: 244px;
    height: 54px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    box-sizing: border-box;
    margin: 29px 0 0 120px;
    padding: 14px 20px;
    position: absolute;
    z-index: 5;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-right: calc(100% - 80px);
  }

}

.welcome__program-selection:hover {
  background-color: #5eaa2f;
}

.welcome__program-selection:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.30);
}
